body {
    background-image: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/7/77/77874/pattern575_10-f.jpg");
}
#InfoBack {
    opacity: .5;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 1200px;
    bottom:350px;
    background-color: ghostwhite;
    border-radius: 20px;
}
#Information {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 1200px;
    bottom:350px;
    background-color: transparent;
    border-radius: 20px;
}
#ResultsBack {
    opacity: .5;
    position: absolute;
    top: 20px;
    left: 300px;
    bottom: 20px;
    right: 70px;
    background-color: ghostwhite;
    border-radius: 10px;
}
#Results {
    position: absolute;
    top: 20px;
    left: 250px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 10px;
}
table {
    width: 500px;
    color: black;
}
td {
    text-align: left;
    color: black;
}
#savedFoodsT {
    width: 900px;
    background-color: white;
}
#colorRow {
    background-color: white;
}
#colorRowChange {
    background-color: red;
}